<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <!--[if IE 6]>
    <script src="js/iepng.js" type="text/javascript"></script>
    <script type="text/javascript">
        EvPNG.fix('div, ul, img, li, input, a');
    </script>
    <![endif]-->
    <script type="text/javascript" src="js/jquery-1.11.1.min_044d0927.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider_e88acd1b.js"></script>

    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>

    <script type="text/javascript" src="js/select.js"></script>

    <script type="text/javascript" src="js/lrscroll.js"></script>

    <script type="text/javascript" src="js/iban.js"></script>
    <script type="text/javascript" src="js/fban.js"></script>
    <script type="text/javascript" src="js/f_ban.js"></script>
    <script type="text/javascript" src="js/mban.js"></script>
    <script type="text/javascript" src="js/bban.js"></script>
    <script type="text/javascript" src="js/hban.js"></script>
    <script type="text/javascript" src="js/tban.js"></script>

    <script type="text/javascript" src="js/lrscroll_1.js"></script>

    <script src="js/vue.js"></script>
    <script src="js/axious.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <title>尤洪</title>
    <style>
        .class {
            position: absolute;
            color: #e02d02;
        }
    </style>
</head>
<body>
<!--Begin Header Begin-->
<div id="app">
    <div class="soubg">
        <div class="sou">
            <!--Begin 所在收货地区 Begin-->
            <span class="s_city_b">
        	<span class="fl">送货至：</span>
            <span class="s_city">
            	<span>四川</span>
                <div class="s_city_bg">
                	<div class="s_city_t"></div>
                    <div class="s_city_c">
                    	<h2>请选择所在的收货地区</h2>
                        <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0"
                               cellpadding="0">
                          <tr>
                            <th>A</th>
                            <td class="c_h"><span>安徽</span><span>澳门</span></td>
                          </tr>
                          <tr>
                            <th>B</th>
                            <td class="c_h"><span>北京</span></td>
                          </tr>
                          <tr>
                            <th>C</th>
                            <td class="c_h"><span>重庆</span></td>
                          </tr>
                          <tr>
                            <th>F</th>
                            <td class="c_h"><span>福建</span></td>
                          </tr>
                          <tr>
                            <th>G</th>
                            <td class="c_h"><span>广东</span><span>广西</span><span>贵州</span><span>甘肃</span></td>
                          </tr>
                          <tr>
                            <th>H</th>
                            <td class="c_h"><span>河北</span><span>河南</span><span>黑龙江</span><span>海南</span><span>湖北</span><span>湖南</span></td>
                          </tr>
                          <tr>
                            <th>J</th>
                            <td class="c_h"><span>江苏</span><span>吉林</span><span>江西</span></td>
                          </tr>
                          <tr>
                            <th>L</th>
                            <td class="c_h"><span>辽宁</span></td>
                          </tr>
                          <tr>
                            <th>N</th>
                            <td class="c_h"><span>内蒙古</span><span>宁夏</span></td>
                          </tr>
                          <tr>
                            <th>Q</th>
                            <td class="c_h"><span>青海</span></td>
                          </tr>
                          <tr>
                            <th>S</th>
                            <td class="c_h"><span>上海</span><span>山东</span><span>山西</span><span class="c_check">四川</span><span>陕西</span></td>
                          </tr>
                          <tr>
                            <th>T</th>
                            <td class="c_h"><span>台湾</span><span>天津</span></td>
                          </tr>
                          <tr>
                            <th>X</th>
                            <td class="c_h"><span>西藏</span><span>香港</span><span>新疆</span></td>
                          </tr>
                          <tr>
                            <th>Y</th>
                            <td class="c_h"><span>云南</span></td>
                          </tr>
                          <tr>
                            <th>Z</th>
                            <td class="c_h"><span>浙江</span></td>
                          </tr>
                        </table>
                    </div>
                </div>
            </span>
        </span>
            <!--End 所在收货地区 End-->
            <span class="fr">
        	<span  class="fl">你好，{{UserSession.name}}<a v-if="!this.UserSession.name" href="Login.html">登录</a>&nbsp; <a v-if="this.UserSession.name" href="Regist.html" @click="loginOut()" style="color:#ff4e00;">注销</a> <a href="Regist.html" style="color:#ff4e00;">免费注册</a>&nbsp;|&nbsp;<a
                    v-if="this.UserSession.name" href="Member_User.html">我的&nbsp;|</a></span>
        	<span class="ss">
            	<div class="ss_list" v-if="this.UserSession.name" >
                	<a href="#">收藏夹</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="Member_Concern.html">我的收藏夹</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ss_list">
                	<a href="#">客户服务</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="#">客户服务</a></li>
                                <li><a href="#">客户服务</a></li>
                                <li><a href="#">客户服务</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="ss_list">
                	<a href="#">网站导航</a>
                    <div class="ss_list_bg">
                    	<div class="s_city_t"></div>
                        <div class="ss_list_c">
                        	<ul>
                            	<li><a href="#">网站导航</a></li>
                                <li><a href="#">网站导航</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="images/s_tel.png" align="absmiddle"/></a></span>
        </span>
        </div>
    </div>
    <!--End Header End-->
    <!--Begin Login Begin-->
    <div class="log_bg">
        <div class="top">
            <div class="logo"><a href="Index.html"><img src="images/logo.png"/></a></div>
        </div>
        <div class="regist">
            <div class="log_img"><img src="images/l_img.png" width="611" height="425"/></div>
            <div class="reg_c">
                <form>
                    <table border="0" style="font-size:14px; margin-top:20px; position: absolute" cellspacing="0"
                           cellpadding="0">
                        <tr height="50" valign="top">
                            <td width="95">&nbsp;</td>
                            <td>
                                <span class="fl" style="font-size:24px;">注册</span>
                                <span class="fr">已有商城账号，<a href="Login.html" style="color:#ff4e00;">我要登录</a></span>
                            </td>
                        </tr>
                        <tr height="50">
                            <td align="right"><font color="#ff4e00">*</font>&nbsp;用户名 &nbsp;</td>
                            <td><input type="text" value="" v-model="User.loginName" @blur="checkLoginName"
                                       class="l_user"/><span
                                    class="error">{{Cue.loginNameCue}}</span></td>
                            <td>
                            </td>
                            </el-form-item>
                        </tr>
                        <tr height="50">
                            <td align="right"><font color="#ff4e00">*</font>&nbsp;密码 &nbsp;</td>
                            <td><input type="password" value="" v-model="User.password" @blur="checkPassword"
                                       class="l_pwd"/><span
                                    class="error">{{Cue.passwordCue}}</span></td>
                        </tr>
                        <tr height="50">
                            <td align="right"><font color="#ff4e00">*</font>&nbsp;确认密码 &nbsp;</td>
                            <td><input type="password" value="" v-model="User.rePassword" @blur="checkRePassword"
                                       class="l_pwd"/><span
                                    class="error">{{Cue.rePasswordCue}}</span></td>
                        </tr>
                        <tr height="50">
                            <td align="right"><font color="#ff4e00">*</font>&nbsp;邮箱 &nbsp;</td>
                            <td><input type="text" value="" v-model="User.email" @blur="checkEmail"
                                       class="l_email"/><span class="error">{{Cue.emailCue}}</span>
                            </td>
                        </tr>
                        <tr height="50">
                            <td align="right"><font color="#ff4e00">*</font>&nbsp;手机 &nbsp;</td>
                            <td><input type="text" value="" v-model="User.mobile" @blur="checkMobile"
                                       class="l_tel"/><span class="error">{{Cue.mobileCue}}</span>
                            </td>
                        </tr>
                        <tr height="50">
                            <td align="right"><font color="#ff4e00">*</font>&nbsp;验证码 &nbsp;</td>
                            <td>
                                <input type="text" class="ly_pwd" v-model.number="User.code"/>
                                <!--              <input v-if="!sendMsgDisabled" type="button"  value="发送验证码" @click="count()">-->
                                <input v-if="!sendMsgDisabled" @click="count()" value="发送验证码" style="background-color: #e02d02;width: 90px"></input>
                                <a v-if="sendMsgDisabled">{{time + '秒后获取'}}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td style="font-size:12px; padding-top:20px;">
                	<span style="font-family:'宋体';" class="fl">
                    	<label class="r_rad"><input type="checkbox"/></label><label class="r_txt">我已阅读并接受《用户协议》</label>
                    </span>
                            </td>
                        </tr>
                        <tr height="60">
                            <td>&nbsp;</td>
                            <td><input type="button" value="立即注册" @click="add()" class="log_btn"/></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical
        Support: Dgg Group <br/>
        <img src="images/b_1.gif" width="98" height="33"/><img src="images/b_2.gif" width="98" height="33"/><img
            src="images/b_3.gif" width="98" height="33"/><img src="images/b_4.gif" width="98" height="33"/><img
            src="images/b_5.gif" width="98" height="33"/><img src="images/b_6.gif" width="98" height="33"/>
    </div>
</div>
<!--End Footer End -->

</body>
<script>

    new Vue({
        el: '#app',
        data() {

            return {
                User: {
                    id: '',
                    loginName: '',
                    userName: '',
                    password: '',
                    rePassword: '',
                    sex: 1,
                    identityCode: '',
                    email: '',
                    mobile: '',
                    type: 1,
                    code: '',
                },
                Falg: {
                    loginNameFalg: false,
                    emailFalg: false,
                    addFalg: false,
                    mobileFalg:false
                },
                Cue: {
                    idCue: '',
                    loginNameCue: '',
                    userNameCue: '',
                    passwordCue: '',
                    rePasswordCue: '',
                    sexCue: 1,
                    identityCodeCue: '',
                    emailCue: '',
                    mobileCue: '',
                    CodeCue: ''
                },
                Code: '',
                time: 60,
                sendMsgDisabled: false,
                TempEmail:'',
                UserSession:{
                    name:''
                },
            }
        },
        methods: {
            async count() {
                if (this.User.email === '') {
                    this.$message({
                        message: '请输入邮箱哦!',
                        type: 'error',
                        center: 'true',
                    })
                    return;
                }
                var emailRel = /\w+@+.\w+.com/;
                if (!emailRel.test(this.User.email)) {
                    this.Cue.emailCue = "邮箱格式不正确"
                    this.Falg.addFalg = false;
                    return;
                } else {
                    this.Cue.emailCue = "√"
                }
                await  this.checkEmail();
                if (!this.Falg.emailFalg){
                    return;
                }
                this.sendMsgDisabled = true
                const interval = window.setInterval(() => {
                    if ((this.time--) <= 0) {
                        this.time = 60
                        this.sendMsgDisabled = false
                        window.clearInterval(interval)
                    }
                }, 1000)
                this.TempEmail=this.User.email
                axios.get("/sendEmailCode", {
                    params: {
                        email: this.User.email
                    }
                }).then((respones) => {
                    console.log(respones)
                    this.Code = respones.data;
                })
            },
            checkLoginName() {
                if (this.User.loginName === '') {
                    this.Cue.loginNameCue = "用户名不能为空"
                    this.Falg.addFalg = false;
                    return;
                } else {
                    this.Cue.loginNameCue = "√"
                }
                axios.get('checkUserByName', {params: {loginName: this.User.loginName}}).then((resp) => {
                    console.log(resp)
                    this.Falg.addFalg = resp.data.code === "200";
                    if (resp.data.code === "200") {
                        this.Cue.loginNameCue = "√"
                        this.Falg.loginNameFalg = true;
                    } else {
                        this.Cue.loginNameCue = "用户名已经存在"
                        this.Falg.loginNameFalg = false;
                    }
                })
            },
            checkPassword() {
                if (this.User.password === '') {
                    this.Cue.passwordCue = "密码不能为空"
                    this.Falg.addFalg = false;
                }else if (this.User.password.length > 10 || this.User.password.length < 6) {
                    this.Cue.passwordCue = "密码长度6-10位"
                }else {
                    this.Cue.passwordCue = "√"


                }
            },
            checkRePassword() {
                if (this.User.password === '') {
                    this.Cue.rePasswordCue = "请再次输入密码"
                    this.Falg.addFalg = false;
                    return;
                }
                if (this.User.password !== this.User.rePassword) {
                    this.Cue.rePasswordCue = "密码输入不一致"
                    this.Falg.addFalg = false;
                } else {
                    this.Cue.rePasswordCue = "√"
                }
            },
            checkEmail() {
                if (this.User.email === '') {
                    this.Cue.emailCue = "请输入邮箱"
                    this.Falg.addFalg = false;
                    return;
                }
                var emailRel = /\w+@+.\w+.com/;
                if (!emailRel.test(this.User.email)) {
                    this.Cue.emailCue = "邮箱格式不正确"
                    this.Falg.addFalg = false;
                } else {
                    this.Cue.emailCue = "√"
                }
                axios.get('checkUserByEmail', {params: {email: this.User.email}}).then((resp) => {
                    console.log(resp)
                    this.Falg.emailFalg = resp.data.code === "200";
                    if (resp.data.code=="200"){

                    }else {
                        this.Cue.emailCue="邮箱已经被注册"
                        this.Falg.emailFalg=false;
                    }
                })
            },
            checkMobile() {
                if (this.User.mobile === '') {
                    this.Cue.mobileCue = "请输入手机号"
                    this.Falg.addFalg = false;
                    return;
                }
                var emailRel = /^1[3456789]\d{9}$/;
                if (!emailRel.test(this.User.mobile)) {
                    this.Cue.mobileCue = "手机格式不正确"
                    this.Falg.addFalg = false;
                } else {
                    this.Cue.mobileCue = "√"
                }
                axios.get('checkUserPhone', {params: {mobile: this.User.mobile}}).then((resp) => {
                    console.log(resp)
                    this.Falg.mobileFalg = resp.data.code === "200";
                    if (resp.data.code=="200"){

                    }else {
                        this.Cue.mobileCue="手机已经被注册"
                    }

                })
            },
            CheckCode() {
                if (this.User.code === "") {
                    this.Cue.CodeCue = "请输入验证码"
                    this.Falg.addFalg = false;
                    return;
                } else {
                    this.Cue.CodeCue = "√"
                }
                if (this.User.code != this.Code) {
                    console.log(this.User.code)
                    console.log(this.Code)
                    this.Falg.addFalg = false;
                    this.$message({
                        message: '验证码错误!',
                        type: 'error',
                        center: 'true',
                    })

                } else {
                    this.Falg.addFalg = true;
                }
            },
            getUser(){
                axios.post("/getUser").then((resp)=>{
                    console.log(resp)
                    this.UserSession.name=resp.data.data.userName;
                })
            },
            loginOut(){
                axios.post("/loginOut").then((resp)=>{
                    console.log(resp)
                    if (resp.data.code=="200"){
                        window.location.reload();
                    }
                })
            },
            async add() {
                await this.checkLoginName();
                await this.checkPassword()
                await  this.checkRePassword()
                await  this.checkEmail()
                await this.checkMobile()
                this.CheckCode();
                console.log(this.Falg.addFalg)

                if (!this.Falg.loginNameFalg) {
                    return;
                }
                if (!this.Falg.mobileFalg){
                    return;
                }
                if (!this.Falg.emailFalg){
                    this.$message({
                        message: '你不要乱改哦!',
                        type: 'error',
                        center: 'true',
                    })
                    return;
                }
                if (this.TempEmail!=this.User.email){

                    return;
                }
                if (this.Falg.addFalg) {
                    axios.post('/addUser', this.User).then((resp) => {
                        console.log(resp)
                        if (resp.data.code === "200") {
                            this.$message({
                                message: '注册成功!',
                                type: 'success',
                                center: 'true',
                            })
                            window.location.href = 'index.html'
                        } else {
                            this.$message({
                                message: '注册失败!',
                                type: 'error',
                                center: 'true',
                            })
                        }
                    })
                }

            }
        },
        mounted() {
            this.getUser()
        }
    })
</script>
<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
