<!DOCTYPE html>
<html lang="en" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="text/css" rel="stylesheet" href="css/style.css" />
  <!--[if IE 6]>
  <script src="js/iepng.js" type="text/javascript"></script>
  <script type="text/javascript">
    EvPNG.fix('div, ul, img, li, input, a');
  </script>
  <![endif]-->
  <script type="text/javascript" src="js/jquery-1.11.1.min_044d0927.js"></script>
  <script type="text/javascript" src="js/jquery.bxslider_e88acd1b.js"></script>

  <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="js/menu.js"></script>

  <script type="text/javascript" src="js/select.js"></script>

  <script type="text/javascript" src="js/lrscroll.js"></script>

  <script type="text/javascript" src="js/iban.js"></script>
  <script type="text/javascript" src="js/fban.js"></script>
  <script type="text/javascript" src="js/f_ban.js"></script>
  <script type="text/javascript" src="js/mban.js"></script>
  <script type="text/javascript" src="js/bban.js"></script>
  <script type="text/javascript" src="js/hban.js"></script>
  <script type="text/javascript" src="js/tban.js"></script>

  <script type="text/javascript" src="js/lrscroll_1.js"></script>

  <script type="text/javascript" src="js/axios.js"></script>
  <script type="text/javascript" src="js/vue.js"></script>


  <title>尤洪</title>
</head>
<body>
<!--Begin Header Begin-->
<div class="soubg">
  <div class="sou">
        <span class="fr">
        	<span class="fl">你好，请<a href="Login.html">登录</a>&nbsp; <a href="Regist.html" style="color:#ff4e00;">免费注册</a>&nbsp; </span>
            <span class="fl">|&nbsp;关注我们：</span>
            <span class="s_sh"><a href="#" class="sh1">新浪</a><a href="#" class="sh2">微信</a></span>
            <span class="fr">|&nbsp;<a href="#">手机版&nbsp;<img src="images/s_tel.png" align="absmiddle" /></a></span>
        </span>
  </div>
</div>
<!--End Header End-->
<!--Begin Login Begin-->
<div class="log_bg" id="log_bg">
  <div class="top">
    <div class="logo"><a href="Index.html"><img src="images/logo.png" /></a></div>
  </div>
  <div class="login">
    <div class="log_yc">
      <form>
        <table border="0" style="width:500px; font-size:14px; margin-top:30px;" cellspacing="0" cellpadding="0">
          <tr height="50" valign="top">
            <td width="60">&nbsp;</td>
            <td>
              <span class="fl" style="font-size:29px; margin-left: 115px">修改密码</span>
            </td>
          </tr>
          <tr height="70">
            <td>用户名</td>
            <td><input type="text" class="l_user" v-model="loginName"/></td>
            <td><span id="usererr" style="color: red">没有此用户！</span></td>
          </tr>
          <tr height="70">
            <td>密&nbsp; &nbsp; 码</td>
            <td><input type="password" class="l_pwd" v-model="password"/></td>
            <td><span id="pwderr" style="color: red">密码为6-10位！</span></td>
          </tr>
          <tr height="70">
            <td>确认密码</td>
            <td width=""><input type="password" class="l_pwd" v-model="relpassword"/></td>
            <td><span id="relpwderr" style="color: red">与密码不一致！</span></td>
          </tr>
          <tr height="70">
            <td>邮箱地址</td>
            <td width=""><input type="password" class="l_pwd" v-model="email"/></td>
            <td><span id="emailerr" style="color: red">请填写正确的邮箱格式！</span></td>
          </tr>
          <tr height="70">
            <td>验证码</td>
            <td width="">
              <input type="password" class="ly_pwd" v-model="catpchu"/>
<!--              <input v-if="!sendMsgDisabled" type="button"  value="发送验证码" @click="count()">-->
              <button v-if="!sendMsgDisabled"  @click="count()">发送验证码</button>
              <a v-if="sendMsgDisabled">{{time+'秒后获取'}}</a>
            </td>
          </tr>
          <tr height="60">
            <td>&nbsp;</td>
            <td><input type="button" value="提交" class="log_btn" @click="updatePassword()" /></td>
          </tr>
<!--          <meta v-if="isRightUpdate" http-equiv="refresh" content="1; URL=/login.html">-->
        </table>
      </form>
    </div>
  </div>
</div>
<!--End Login End-->
<!--Begin Footer Begin-->
<div class="btmbg">
  <div class="btm">
    备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
    <img src="images/b_1.gif" width="98" height="33" /><img src="images/b_2.gif" width="98" height="33" /><img src="images/b_3.gif" width="98" height="33" /><img src="images/b_4.gif" width="98" height="33" /><img src="images/b_5.gif" width="98" height="33" /><img src="images/b_6.gif" width="98" height="33" />
  </div>
</div>
<!--End Footer End -->

</body>


<!--[if IE 6]>
<script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
<![endif]-->
</html>
<script>
  new Vue({
    el:"#log_bg",
    data(){
      return{
          loginName:'',
          password:'',
          relpassword:'',
          email:'',
          catpchu:'',
          time: 60, // 发送验证码倒计时
          sendMsgDisabled: false,
          isRightUpdate: false
      }
    },
    methods:{
      updatePassword(){
        axios.get("/updatePassword",{
            params:{
              loginName:this.loginName,
              password:this.password
            }
        }).then((respones)=>{
            console.log(respones)
            if(respones.data.code=="200"){
              this.isRightUpdate=true
              alert("修改成功！点击确定进入登陆页面")
              window.location.href="/login.html"
            }else {
              alert("修改失败！")
            }
        }).catch((err)=>{
            console.log("没成功")
        })
      },
      count(){
        if(this.email==''){
          alert("请填写邮箱！")
          return;
        }
        const that = this
        that.sendMsgDisabled = true
        const interval = window.setInterval(function() {
          if ((that.time--) <= 0) {
            that.time = 60
            that.sendMsgDisabled = false
            window.clearInterval(interval)
          }
        }, 1000)
        axios.get("/sendEmailCode",{
          params:{
            email:this.email
          }
        }).then((respones)=>{
          console.log(respones)

        }).catch((err)=>{
          console.log("没成功")
        })
      }
    },
  })

</script>