<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.dao.UserDao">
    <insert id="addUser">
        insert into easybuy_user(loginName, userName, password, sex, identityCode, email, mobile)
        values (#{loginName}, #{loginName}, #{password}, #{sex}, #{identityCode}, #{email}, #{mobile})
    </insert>
    <select id="checkUserByName" resultType="com.kgc.entity.User">
        select id,
               loginName,
               userName,
               password,
               sex,
               identityCode,
               email,
               mobile
        from easybuy_user
        where loginName = #{loginName}
    </select>

    <select id="checkUserByMobile" resultType="com.kgc.entity.User">
        select id,
               loginName,
               userName,
               password,
               sex,
               identityCode,
               email,
               mobile
        from easybuy_user
        where mobile = #{mobile}
    </select>
    <select id="checkUserByEmail" resultType="com.kgc.entity.User">
        select id,
               loginName,
               userName,
               password,
               sex,
               identityCode,
               email,
               mobile
        from easybuy_user
        where email = #{email}
    </select>

    <select id="checkUserByNamePwd" resultType="User">

        select u.id,
               loginName,
               userName,
               password,
               sex,
               identityCode,
               email,
               mobile,
               roleId,
               roleName
        from easybuy_user u,easybuy_role r
        WHERE r.id=u.roleId
            and loginName = #{loginName}
          and password = #{password}
    </select>

    <update id="updataePasswordByName">
        update easybuy_user
        set password = #{password}
        where loginName = #{loginName}
    </update>
    <select id="getUserPage" resultType="User">
        SELECT
        u.id,
        loginName,
        userName,
        `password`,
        sex,
        identityCode,
        email,
        mobile,
        roleId,
        isDel,
        createTime,
        roleName
        FROM easybuy_user u , easybuy_role r
        WHERE u.roleId = r.id
        AND u.isDel = 0
        <if test="userName!=null and userName!=''">
            and u.userName like CONCAT('%',#{userName},'%')
        </if>
        <if test="rid==2">
            AND roleId > 1
        </if>
        <if test="roleId>0">
            AND roleId = #{roleId}
        </if>
        ORDER BY u.id
    </select>

    <update id="delUser">
        UPDATE easybuy_user u
        SET u.isDel = 1
        WHERE u.id = #{id}
    </update>
    <select id="getUserById" resultType="User">
        SELECT u.id,
               loginName,
               userName,
               password,
               sex,
               identityCode,
               email,
               mobile,
               roleId,
               isDel,
               createTime,
               roleName
        from easybuy_user u,
             easybuy_role r
        where u.id = #{id}
          AND u.roleId = r.id
    </select>

    <update id="updateUser">
        update easybuy_user
        set loginName = #{loginName},userName=#{userName},password=#{password},roleId = #{roleId},sex = #{sex},email=#{email},mobile= #{mobile}
        where id=#{id}
    </update>

</mapper>